{% comment %} Create Videos Array {% endcomment %}

{% capture collectionVideos %}{{ collection.metafields["global"]["video-1"] }},{{ collection.metafields["global"]["video-2"] }}{% endcapture %}
{% assign collectionVideos = collectionVideos | split: ',' %}

<div class="product-videos">

  <h3>Product Videos</h3>

  <ul>
    {% for video in collectionVideos %}
      <video width="320" height="240" controls>
        <source src="{{ video }}" type="video/mp4">
      </video>
    {% endfor %}
  </ul>

</div>