<div class="brand">

  <h3>The Brand</h3>
  
  <img src='{{ product.metafields["brand.brand"]["image"] }}' />
  <h3>{{ product.metafields["brand.brand"]["name"] }}</h3>
  <p>{{ product.metafields["brand.brand"]["description"] }}</p>

</div>