<div class="author">
  <h3>{{ article.metafields["author.author"]["name"] }}</h3>
  {{ article.metafields["author.author"]["biography"] }}
  <img src="{{ article.metafields["author.author"]["image"] }}" />
</div>